* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
  color: white;
  background-color: tomato;
}

.movie__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 1rem;
}

.movie__card {
  width: 500px;
  height: 300px;
  display: flex;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 0.1px rgb(169, 167, 167);
  border-radius: 15px;
}
.movie__card > img {
  margin: 10px;
}
.movie_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie_info > h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  flex: 1;
}
.movie_info > p {
  display: flex;
  align-items: center;
  flex: 5;
  border: 5px;
}
.movie_info > ul {
  flex: 2;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: 1px 1px 0.1px rgb(169, 167, 167);
}

nav {
  display: flex;
  height: 5vh;
  width: 100vw;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 10px 10px 10px #d9d9d9, -16px -16px 32px #ffffff;
}

nav > ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
nav > ul > li {
  border: none;
  box-shadow: none;
}
